<header>
  <nav class="row">
    <ul class="menu">
      <li class="menu--item">
        <a href="" class="menu--link active">Hem</a>
      </li>
      <li class="menu--item">
        <a href="" class="menu--link">Bakgrund</a>
      </li>
      <li class="menu--item">
        <a href="" class="menu--link">Priser</a>
      </li>
      <li class="menu--item">
        <a href="" class="menu--link">Bilder</a>
      </li>
      <li class="menu--item">
        <a href="" class="menu--link">Kontakt</a>
      </li>
    </ul>
  </nav>
</header>
