{% assign current = page.url | downcase | split: '/' %}

<header class="page-header">
  <div class="page-header-row row">
    <nav class="menu">
      <ul class="menu--list">
        <li class="menu--item">
          <a href="{{ site.baseurl }}/" class="menu--link{% if current[1] == 'index.html' %} active{% endif %}">Hem</a>
        </li>
        <li class="menu--item">
          <a href="{{ site.baseurl }}/bakgrund/" class="menu--link{% if current[1] == 'bakgrund' %} active{% endif %}">Bakgrund</a>
        </li>
        <li class="menu--item">
          <a href="{{ site.baseurl }}/priser/" class="menu--link{% if current[1] == 'priser' %} active{% endif %}">Priser</a>
        </li>
        <li class="menu--item">
          <a href="{{ site.baseurl }}/maskinpark/" class="menu--link{% if current[1] == 'maskinpark' %} active{% endif %}">Maskinpark</a>
        </li>
        <li class="menu--item">
          <a href="{{ site.baseurl }}/bilder/" class="menu--link{% if current[1] == 'bilder' %} active{% endif %}">Bilder</a>
        </li>
        <li class="menu--item">
          <a href="{{ site.baseurl }}/kontakt/" class="menu--link{% if current[1] == 'kontakt' %} active{% endif %}">Kontakt</a>
        </li>
      </ul>
    </nav>
    <section class="page-header--logo">
      <img src="http://wallsin.se/images/Logga-Wallsinentrepenad.gif" />
    </section>
  </div>
</header>
