html,body{
	height:100%;
  font-size:100%;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $primary-color-light-2;
  color: $black;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

a:hover { cursor: pointer; }

img {
	max-width: 100%;
	height: auto;
  display: inline-block;
  vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

textarea { height: auto; min-height: 50px; }

select { width: 100%; }
