.page-header {
  background-color: $navigation-background-color;
}

.menu {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;

  &--item {
    position: relative;
  }

  &--link {
    background-color: $navigation-background-color-stacked;
    border-bottom: solid 1px $navigation-border-color;
    color: $navigation-link-color-stacked;
    display: block;
    font-weight: $font-weight-bold;
    line-height: 3;
    padding-right: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;

    &.active,
    &:hover,
    &:focus {
      background-color: $navigation-background-color-stacked-hover;
      color: $navigation-link-color-stacked-hover;
    }
  }
}


@media #{$medium-up} {
  .page-header {
    border-top: solid 1rem $navigation-background-color-hover;
  }

  nav {
    @include clearfix;
  }

  .menu {
    text-align: center;

    &--item {
      display: inline-block;
    }

    &--link {
      border-bottom: none;
      padding-top: 2rem;
      background-color: $navigation-background-color;
      color: $navigation-link-color;

      &.active,
      &:hover,
      &:focus {
        background-color: $navigation-background-color-hover;
        color: $navigation-link-color-hover;
      }
    }
  }
}
