.services {
  background-color: $services-background-color;
  padding: 2rem;
}

.services__list {
  color: $services-item-color;
  font-size: 1.6875rem;
  font-weight: $services-font-weight;
  margin-left: 0;
  list-style: inside;
  line-height: 3;
  overflow: hidden;
  text-transform: uppercase;
}

@media #{$medium-up} {
  .services__item {
    float: left;
    width: 50%;
  }
}
