<footer>
  <div class="row">
    <div class="separator-icon xsmall-3 medium-2">
      <img src="{{ theme_url }}/img/tractor.svg" />
    </div>
  </div>
  <div class="row">
    <div class="column xsmall-8 xsmall-center small-6 small-uncenter medium-4 large-3">
      <img class="headshot" src="{{ theme_url }}/img/conny_crop.jpg" />
    </div>
    <div class="footer-information column xsmall-10 xsmall-center small-6 small-uncenter medium-8 large-9">
      <div class="row">
        <h2>Conny Wallsin</h2>
      </div>
      <div class="row">
        <div class="column large-6 icon-container">
          <div class="icon xsmall-3 medium-2 large-2">
            <img src="{{ theme_url }}/img/place.svg" />
          </div>
          <h3>Lönnrunan 149<br />423 46 Torslanda</h3>
        </div>
        <div class="column large-6 icon-container">
          <div class="icon xsmall-3 medium-2 large-2">
            <img src="{{ theme_url }}/img/phone.svg" />
          </div>
          <h3>031 – 56 14 66<br />0704 – 75 91 30</h3>
        </div>
      </div>
      <div class="row">
        <div class="column copy">
          <p>
            <a href="/om-sidan">Om sidan</a>
            &copy; 2004-2016 Wallsin Entreprenad AB
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
